.inputBox {
    position: relative;
    display: flex;
    margin: 20px; /* Added some margin for spacing */
    text-shadow: 1px 1px black;
}

.inputBox input {
    width: 100%; /* Make input take full width */
    padding: 15px 20px;
    outline: none;
    background: transparent;
    border: 3px solid;
    border-image: linear-gradient(to right, black, rgb(33, 22, 1), orange) 1;
    color: black;
    font-size: 1em;
    transition: 0.4s cubic-bezier(0.05, 0.81, 0, 0.93);
    justify-content: center;
}

.inputBox span {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    color: #000000;
    pointer-events: none;
    transition: 0.4s;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px white;
    font-weight: 700;
}

.inputBox span.confirm {
    position: absolute;
    top: 50%;
    left: 70px;
    transform: translateY(-50%);
    color: #000;
    text-shadow: 1px 1px white;
    transition: 0.4s;
    font-family: 'Times New Roman', Times, serif;
}

.inputBox input:focus ~ span, 
.inputBox input:valid ~ span {
    top: 0px; /* Move the label to the top */
    left: 10px; /* Adjust the label to the left */
    font-size: 0.7em;
    transform: translateY(-50%); /* Move label above the input field */
    padding: 0 5px;
    border-radius: 2px;
    background: #212121;
    letter-spacing: 0em;
    border: 1px solid #ee8456;
    text-shadow: none;
    color: white;
}

.login-body {
    font-family: Arial, sans-serif;
    color: #fff;
}

.login-body .login-header {
    border-bottom: 2px solid black;
}

.login-body main, .register-body main {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.login-body form,
.register-body form {
    display: block;
    justify-items: center; 
    align-items: center; 
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, black, rgb(33, 22, 1), orange) 1;
    width: 300px;
    height: 250px;
    padding: 25px;
    text-align: center;
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.353);
}

.register-body form {
    height: 320px;
}

.login-body form .login button, 
.register-body form button {
    display: block;
    width: 50%; /* Adjust width if needed */
    border-radius: 100px;
    background-image: white;
    color: black;
    text-align: center; /* Center text inside the button */
    padding: 5px; /* Optional: add padding for aesthetics */
    margin: 0 auto;
    border: 3px solid black;
}

.login-body form .login button:hover, 
.register-body form button:hover {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.688);
    color: white;
}

.login-body form .registration,
.register-body form .login-account {
    display: inline-flex;
    align-items: center;
    color: black;
    font-size: 15px;
}

.login-body form .registration a,
.register-body form .login-account a {
    display: flex;
    align-items: center;
    color: black;
    text-align: center; /* Center text inside the button */
    margin: 0 auto;
    margin-left: 5px;
}

.login-body form .registration a:hover,
.register-body form .login-account a:hover {
    font-weight: bold;
}

.login-body form h2, 
.register-body form h2{
    display: inline;
    color: #fff;
    text-shadow: 3px 3px black;
}

.login-account {
    display: inline-flex;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-image: url("../static/img/login-bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    position: relative;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid white;
    width: 100%;
    text-shadow: 3px 3px black;
}

nav {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

nav li {
    list-style: none;
    margin-right: 15px; 
    display: inline-block;
}

nav ul {
    display: inline-flex;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover, nav a:focus {
    background-color: rgba(0, 0, 0, 0.716);
    padding: 5px;
    border-radius: 10%;
}

nav a:active {
    color: black;
}

.logo {
    display: inline-flex;
    height: 60px;
    border-radius: 50%;
    border: 3px solid black;
}

.logo-title {
    display: inline-flex;
}

.logo-title h1 {
    margin-left: 10px;
}

/* Styles for the ebook reader */
.ebook-reader {
    max-width: 800px;  /* Adjust the width to resemble a book */
    margin: 20px auto;  /* Center the reader */
    padding: 30px 40px;  /* Padding to give space around text */
    border: 3px solid #452B0C;  /* Light border to resemble book edge */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */
    background-color: #E5B171;  /* Light background color for a book feel */
    line-height: 1.6;  /* Improve readability */
    font-family: Georgia, 'Times New Roman', Times, serif;  /* Book-like font */
    /* overflow-y: auto; */
    height: 90vh;  /* Fixed height for better handling of long content */
    color: black;
    position: sticky;
}

/* Image styles within the ebook reader */
.ebook-reader img {
    max-width: 100%;  /* Images will not exceed the width of the ebook reader */
    max-height: 80vh;  /* Ensure images are not too tall */
    width: auto;  /* Maintain aspect ratio */
    height: auto;  /* Maintain aspect ratio */
    display: block;  /* Remove any inline spacing around images */
    margin: 10px auto;  /* Center images and add some vertical margin */
}

.chapter {
    max-height: 90%;  /* Limit the height to the container */
    overflow-y: auto;  /* Allow scrolling for long chapters */
}

.ebook-reader h2, .ebook-reader p {
    margin-bottom: 1em;  /* Space out paragraphs */
    color: black;
}

.ebook-reader h1 a {
    text-decoration: none;
    color: black;
}

.ebook-reader h1 a:hover {
    text-decoration: underline;
    color: black;
}

/* Navigation buttons styling */
.navigation {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.navigation button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #452B0C;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
}

.navigation button:hover {
    background-color: #ffffff40;
    color: black;
    border: 2px solid #452B0C;
}

.navigation button:active {
    background-color: black;
}

/* Add this to your existing style.css */

.flashes {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flash {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
}

.flash.info {
    background-color: blue;
}

.flash.warning {
    background-color: orange;
}

.flash.error {
    background-color: red;
}

.flash.success {
    background-color: green;
}

/* Add this to align the inputs */
.upload-form input[type="text"],
.upload-form input[type="file"] {
    width: 100%;
    box-sizing: border-box;
}

/* Add this to create space between the navbar and the upload form */
.upload-form {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.659);
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.upload-form h2 {
    color: #fff;
    text-shadow: 3px 3px black;
    margin-bottom: 20px;
}

.upload-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-form .form-group {
    margin-bottom: 20px;
    display: block;
}

.upload-form label {
    color: #fff;
    text-shadow: 2px 2px black;
    font-size: 1.2em;
    display: block; /* Add this to make the label appear on top */
    margin-bottom: 5px; /* Add some spacing between the label and input */
}

.upload-form input[type="text"],
.upload-form input[type="file"] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 1em;
    border: black 2px solid;
}

.upload-form button[type="submit"] {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #452B0C;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-form button[type="submit"]:hover {
    background-color: #ffffff40;
}

.upload-form button[type="submit"]:active {
    background-color: black;
}

/* Add this to align the inputs */
.upload-form input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}


.footer-content {
    position: fixed;
    bottom: 0;
}

.browse-books-body {
    background-color: transparent;
}

.browse-books-body h2 {
    color: #fff;
    text-shadow: 3px 3px black;
}

.browse-books-body p {
    color: #fff;
}

.browse-books-body form {
    margin: 0 auto;
    text-align: center;
}

.browse-books-body input[type="text"] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 1em;
}

.browse-books-body button[type="submit"] {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #452B0C;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.browse-books-body button[type="submit"]:hover {
    background-color: #ffffff40;
}

.browse-books-body button[type="submit"]:active {
    background-color: black;
}

.browse-books-body #autocomplete-suggestions {
    color: #fff;
}

.browse-books-body #result {
    color: #fff;
}

.browse-books-body #result h3 {
    color: #fff;
    text-shadow: 3px 3px black;
}

.browse-books-body #result p {
    color: #fff;
}

.browse-books-body #result img {
    max-width: 200px;
    max-height: 300px;
    display: block;
    margin: 0 auto;
}

.browse-books-body #bookModal {
    color: #fff;
}

.browse-books-body #bookModal .modal-content {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.browse-books-body #bookModal .modal-content h3 {
    color: #fff;
    text-shadow: 3px 3px black;
}

.browse-books-body #bookModal .modal-content p {
    color: #fff;
}

.browse-books-body #bookModal .modal-content img {
    max-width: 200px;
    max-height: 300px;
    display: block;
    margin: 0 auto;
}


.books {
    display: flex;
    gap: 20px;
    flex: 1;
    padding: 20px;
    text-align: center;
    justify-items: center;
    justify-content: center;
}

.book a {
    text-decoration: none;
    color: white;
}

.book a:hover {
    text-decoration: underline black;
}

.book a img:hover {
    scale: 1.05;
}
.book-collection {
    display: flex;
    background-color: rgba(255, 255, 255, 0.452); 
    text-align: center; 
    text-shadow: 0 0 10px black; 
    box-sizing: border-box;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    overflow-x: auto;
    flex-wrap: wrap;
    position: relative;
    border-radius: 15px;

    /* Added properties for centering content */
    justify-content: center; /* Centers flex items horizontally */
    align-items: center; /* Centers flex items vertically (if the height is sufficient) */
}

.my-collection {
    text-align: center;
    width: fit-content;
    padding: 10px;
    margin: 5px auto;
    border-radius: 5px;
    font-size: 70px;
    font-weight: 600;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
      0px 0px 20px #b393d3;
  }
}

.books h4 {
    margin: 0;
}

.books p {
    margin-top: -1px;
    color: black;
    text-shadow: none;
}

.book {
    width: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome {
    text-shadow: 0 0 10px black;
}

/* Center the content */
.browse-books-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Add some styling */
.browse-books-body h2 {
    color: #fff;
    text-shadow: 3px 3px black;
    margin-bottom: 20px;
}

.browse-books-body p {
    color: #fff;
    margin-bottom: 20px;
}

.browse-books-body form {
    margin-bottom: 20px;
}

.browse-books-body input[type="text"] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 1em;
}

.browse-books-body button[type="submit"] {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #452B0C;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.browse-books-body button[type="submit"]:hover {
    background-color: #ffffff40;
}

.browse-books-body button[type="submit"]:active {
    background-color: black;
}

.browse-books-body #autocomplete-suggestions {
    color: #fff;
}

.browse-books-body #result {
    color: #fff;
}

.browse-books-body #result h3 {
    color: #fff;
    text-shadow: 3px 3px black;
}

.browse-books-body #result p {
    color: #fff;
}

.browse-books-body #result img {
    max-width: 200px;
    max-height: 300px;
    display: block;
    margin: 0 auto;
}

.browse-books-body #bookModal {
    color: #fff;
}

.browse-books-body #bookModal .modal-content {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.browse-books-body #bookModal .modal-content h3 {
    color: #fff;
    text-shadow: 3px 3px black;
}

.browse-books-body #bookModal .modal-content p {
    color: #fff;
}

.browse-books-body #bookModal .modal-content img {
    max-width: 200px;
    max-height: 300px;
    display: block;
    margin: 0 auto;
}

#user-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 2px solid black;
}