<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Other head elements -->
</head>
<body class="{% block ClassBody %}{% endblock %}">
    <header class="{% block header_class %}header{% endblock %}">
        <nav>
            <div class="logo-title">
                <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="logo" class="logo">
                <h1>Pixel Pages</h1>
            </div>
            {% block navigation %}
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('browse_books') }}">Browse Books</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="{{ url_for('upload') }}">Upload E-book</a></li>
                <li><a href="{{ url_for('logout') }}">Log-out</a></li>
            </ul>
            {% endblock %}
        </nav>
    </header>
    
    <!-- Flash messages block -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flashes">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Pixel Pages. All rights reserved.</p>
        </div>
    </footer>
    
    <!-- JavaScript block for child templates to inject scripts -->
    {% block scripts %}
    <script>
        // Function to hide flash messages after a certain time
        function hideFlashes() {
            const flashes = document.querySelectorAll('.flash');
            flashes.forEach(flash => {
                setTimeout(() => {
                    flash.style.display = 'none';
                }, 3000); // 3000 milliseconds = 3 seconds
            });
        }

        // Call the function to hide flash messages
        document.addEventListener('DOMContentLoaded', hideFlashes);
    </script>
    {% endblock %}
</body>
</html>