<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body class="{% block ClassBody %} {% endblock %}" >
    <header>
        {% block header %} {% endblock %}
    </header>

    <main>
        {% block main %} {% endblock %}
    </main>
    <footer></footer>
</body>
</html>