{% extends "base.html" %}

{% block ClassBody %} browse-books-body {% endblock %}

{% block main %}
    <h2>Book Details</h2>
    <!-- Search Form -->
    <form id="searchForm" action="#" method="GET" enctype="multipart/form-data">
        <input type="text" name="searchQuery" id="searchQuery" placeholder="Enter book title or author" required autocomplete="off">
        <div id="loading-spinner" style="display:none;">Loading...</div>
    </form>

    <!-- Autocomplete Suggestions -->
    <div id="autocomplete-suggestions" class="browse-books-autocomplete-suggestions"></div>

    <!-- User's Books Section -->
    <div class="user-books">
        <h3 style="background-color: rgba(0, 0, 0, 0.8); padding: 3px; border-radius: 5px;">Your Books:</h3>
        {% for detail in details %}
            <div class="browse-books-book" data-title="{{ detail.title | lower }}" id="{{ detail.id }}">
            <h4>{{ detail.title }}</h4>
            <p>Author: {{ detail.authors | join(', ') }}</p>
            <p>Category: {{ detail.category }}</p>
            <p>Published: {{ detail.published_date }}</p>
            <img src="{{ detail.thumbnail }}" alt="Book Thumbnail" style="width:100px;height:auto;">
            <h3>Description:</h3>
            <p class="description">{{ detail.description }}</p>
            <span class="read-more">Read more</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/book_details.js') }}"></script>
{% endblock %}