{% extends "base.html" %}

{% block ClassBody %} browse-books-body {% endblock %}

{% block main %}
    <h2>Browse Books</h2>

    <p>Explore a wide range of books by searching below. Enter a title or author to discover new reads.</p>

    <!-- Search Form -->
    <form id="searchForm" action="#" method="GET" enctype="multipart/form-data">
        <input type="text" name="searchQuery" id="searchQuery" placeholder="Enter book title or author" required autocomplete="off">
        <div id="loading-spinner" style="display:none;">Loading...</div>
    </form>

    <!-- Autocomplete Suggestions -->
    <div id="autocomplete-suggestions" class="browse-books-autocomplete-suggestions"></div>

    <!-- User's Books Section -->
    <div id="user-books">
        <h3>Your Books:</h3>
        {% for detail in details %}
            <div class="book browse-books-book" data-title="{{ detail.title | lower }}" id="{{ detail.id }}"></div>
                <h4>{{ detail.title }}</h4>
                <p>Author: {{ detail.authors }}</p>
                <p>Category: {{ detail.category }}</p>
                <p>Published: {{ detail.published_date }}</p>
                <img src="{{ detail.thumbnail }}" alt="Book Thumbnail" style="width:100px;height:auto;">
                <h6>Description:</h6>
                <p>{{ detail.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='browse_books.js') }}"></script>
{% endblock %}