<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %} PixelPages: Online Ebook Library {% endblock %}

{% block ClassBody %} main-page {% endblock %}

{% block main %}
    <h2>Welcome to Pixel Pages Ebook Library!</h2>

    <p>Discover a world of knowledge and imagination at your fingertips! Our ebook library offers a diverse collection of books across various genres. Whether you're looking for the latest bestsellers, timeless classics, or something entirely new, you're in the right place.</p>

    <div class="book-collection">
        <h3>Featured Books</h3>
        <div class="books">
            {% for book in books %}
                <a href="{{ url_for('books.read', book_id=book.id) }}"></a>
                    <div class="book">
                        <img src="{{ book.thumbnail }}" alt="Book Cover">
                        <h4>{{ book.title }}</h4>
                        <p>by {{ book.author }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
